@import 'mixins';

.ordersMenu {
  @include border();
  min-height: 60vh;
}
.buyBtn {
  height: 100px;
  font-size: 50px;
  color: white;
  background-color: red;
  &:hover {
    background-color: black;
    color: white;
  }
}
