@import 'mixins';

.ordersMenu {
  @include border();
  min-height: 300px;
}
.buyBtn {
  font-size: 20px;
  color: white;
  background-color: red;
  &:hover {
    background-color: black;
    color: white;
  }
}
.orders-title {
  @include productRow();
  @include genericSizing();
}
