@import 'mixins';

.productsMenu {
  @include border();
  font-size: 2em;
}
.categories {
  @include genericSizing();
  border-right: 1px solid black;
  h2 {
    border-bottom: 1px solid black;
    padding-bottom: 8.5px;
  }
  .list-group-item {
    cursor: pointer;
    text-align: left;
    font-size: 0.9em;
    &:hover {
      background-color: rgb(85, 83, 83);
      color: white;
    }
  }
}
.order-title {
  @include productRow();
}
.searched-term {
  span {
    span {
      cursor: pointer;
    }
  }
}
.products {
  @include genericSizing();
}
.products-title {
  @include productRow();
}
.products-category-selected {
  font-size: 0.8em;
  min-height: 40px;
  max-height: 150px;
  @include productRow();
  @include flex(row, center, flex-start);
  span.badge {
    margin: 10px 10px;
    cursor: pointer;
    padding: 0px 5px 5px 5px;
  }
  .close-category {
    font-size: 1.2em;
    &:hover {
      color: black;
    }
  }
}
.products-row {
  max-height: 800px;
  min-height: 800px;
}
.product-show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  padding-bottom: 10px;
  grid-auto-rows: auto;
  justify-items: center;
  .card {
    font-size: 0.8em;
    max-width: 300px;
    img {
      height: 250px;
    }
    h5 {
      color: white;
      top: -10px;
      position: relative;
      span {
        margin-left: 5px;
      }
    }
    button {
      top: -20px;
      position: relative;
    }

    .card-text {
      color: rgb(255, 180, 180);
      top: -20px;
      position: relative;
      i {
        font-size: 0.7em;
        position: relative;
        top: -2px;
      }
    }
    .card-body {
      max-height: 140px;
      min-height: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 1753px) {
  .product-show {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .categories {
    border: none;
  }
  .products-row {
    min-height: 800px;
    max-height: none;
  }
}
@media (max-width: 730px) {
  .product-show {
    grid-template-columns: 1fr;
    .card img {
      height: 200px;
    }
  }
}
